<!-- User dropdown -->
<div class="dropdown">

    <!-- Toggler -->
    <button class="header__btn btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-label="User dropdown" aria-expanded="false">
        <i class="demo-psi-male"></i>
        
    </button>


    <!-- User dropdown menu -->
    <div class="dropdown-menu dropdown-menu-end ">
        <div class="row">
            <div class="list-group list-group-borderless h-100 py-1">
                
                <a href="javascript:;" (click)="logout()" class="list-group-item list-group-item-action">
                    <app-icon icon="lock" /> Logout
                </a>
            </div>
        </div>

    </div>
</div>
<!-- End - User dropdown -->