<!-- Notification Dropdown -->
<div class="dropdown">

    <!-- Toggler -->
    <button class="header__btn btn btn-icon btn-sm" type="button" data-bs-toggle="dropdown" aria-label="Notification dropdown" aria-expanded="false">
        <span class="d-block position-relative">
            <i class="demo-psi-bell"></i>

            <span class="badge badge-super rounded-pill bg-danger p-1">
                <span class="visually-hidden">unread messages</span>
            </span>

            <!-- Set custom notification count -->
            <!--
 <span class="badge badge-super rounded-pill bg-danger p-1">
      19<span class="visually-hidden">unread messages</span>
 </span>
 -->

        </span>
    </button>


    <!-- Notification dropdown menu -->
    <div class="dropdown-menu dropdown-menu-end w-md-300px">
        <div class="border-bottom px-3 py-2 mb-3">
            <h5>Notificaciones</h5>
        </div>


        <div class="list-group list-group-borderless">


            <!-- List item -->
            <div class="list-group-item list-group-item-action d-flex align-items-center mb-3">
                <div class="flex-shrink-0 me-3">
                    <i class="demo-psi-data-settings text-danger fs-2"></i>
                </div>
                <div class="flex-grow-1">
                    <a href="javascript:;" class="h6 fw-normal d-block mb-0 stretched-link text-decoration-none">Tareas Pendientes</a>
                    <small class="text-body-secondary">Tiene una tarea pendiente.</small>
                </div>
            </div>


            <!-- List item -->
            <div class="list-group-item list-group-item-action d-flex align-items-center mb-3">
                <div class="flex-shrink-0 me-3">
                    <i class="demo-psi-pen-5 text-info fs-2"></i>
                </div>
                <div class="flex-grow-1">
                    <a href="javascript:;" class="h6 fw-normal d-block mb-0 stretched-link text-decoration-none">Publicaciones</a>
                    <small class="text-body-secondary">Se han registrado nuevas publicaciones</small>
                </div>
            </div>




            <!-- List item -->
            <div class="list-group-item list-group-item-action d-flex align-items-start mb-3">
                <div class="flex-shrink-0 me-3">
                    <img class="img-xs rounded-circle" src="/img/profile-photos/7.png" alt="Profile Picture" loading="lazy">
                </div>
                <div class="flex-grow-1">
                    <a href="javascript:;" class="h6 fw-normal d-block mb-0 stretched-link text-decoration-none">Ha recibido un mensaje nuevo</a>
                    <small class="text-body-secondary">Hace 30 minutos</small>
                </div>
            </div>


            <div class="text-center mb-2">
                <a href="javascript:;" class="btn-link text-primary icon-link icon-link-hover">
                    Mostrar todas las notificaciones
                    <i class="bi demo-psi-arrow-out-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- End - Notification dropdown -->