<app-page [name]="pageName">
    <app-page-header title="User" subtitle="User Form" breadcrumbs="Users/User Form" />
    <div class="content__boxed">
        <div class="content__wrap">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="sendForm()">
                        <div class="modal-content modal-800">
                            <div class="modal-body">
                                <div class="card border-1 border-primary">
                                    <h5 class="card-header text-bg-primary">Personal Data</h5>
                                    <div class="card-body">
                                        <div class="row g-3">
                                            <app-form-group label="Names" name="name" class="col-md-6 col-lg-4" />
                                            <app-form-group label="First Lastname" name="lastname1" class="col-md-6 col-lg-4" />
                                            <app-form-group label="Second Lastname" name="lastname2" class="col-md-6 col-lg-4" />
                                            <app-form-group label="Document Type" name="document_type" class="col-md-6 col-lg-4">
                                                <p-select formControlName="document_type" [options]="documentTypes()?.data" [filter]="true" [showClear]="true" dataKey="id" optionLabel="name" placeholder="-- Seleccione --" class="w-100" />
                                            </app-form-group>
                                            <app-form-group label="Document Number" name="document_number" class="col-md-6 col-lg-4" />

                                            
                                            <app-form-group label="Photo" name="photo" class="col-md-6 col-lg-4">
                                                @if(previews.photo){
                                                <div class="text-center mb-3">
                                                    <img [src]="previews.photo" class="img-lg " alt="Profile photo" width="100" height="100" />
                                                </div>
                                                }
                                                <input type="file" class="form-control" accept=".jpg, .jpeg, .png" (change)="pickFile($event, 'photo')" />
                                            </app-form-group>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-default me-1" (click)="closeModal()" type="button">Cancel</button>
                                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save Data</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>


</app-page>